<!DOCTYPE html>
<html>

<head>
	<title>vue demo</title>

	<link rel="stylesheet" href="/utils/element-ui/index.css" />
	<style>
		body {
			font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
		}
	</style>

	<script src="/utils/vue.js"></script>
	<script src="/utils/element-ui/index.js"></script>
	<script src="/utils/axios.js"></script>
</head>

<body>
	{% raw %}
	<div id="app">
		<el-row :gutter="24">
			<el-col :span="12" :offset="6">
				<div class="grid-content">
					<div style="margin-top: 15px;">
						<el-input size="small" class="input-with-select" placeholder="请输入问题" v-model="question"
							@keyup.enter.native="getData">
							<el-button slot="append" icon="el-icon-search" v-on:click="getData"></el-button>
						</el-input>
					</div>
				</div>
			</el-col>
		</el-row>

		<el-row :gutter="24">
			<el-col :span="16" :offset="4">
				<div class="grid-content">泛化问题列表：</div>
			</el-col>
			<div v-for="item in questions">
				<el-col :span="14" :offset="5">
					<div class="grid-content">{{item}}</div>
				</el-col>
			</div>
		</el-row>

		<el-row :gutter="24">
			<el-col :span="16" :offset="4">
				<div class="grid-content">答案：</div>
			</el-col>
			<el-col :span="14" :offset="5">
				<div class="grid-content">{{answer}}</div>
			</el-col>
		</el-row>
	</div>
	{% endraw %}
</body>

<script type="text/javascript">
	new Vue({
		el: '#app',
		data: {
			question: '',
			answer: '',
			questions: [],
		},
		methods: {
			getData: function (event) {
				const self = this;
				axios({
					method: 'post',
					url: '/add',
					data: {
						a: 12,
						b: 34,
						question: this.question,
					}
				}).then(function (response) {
					const data = response.data;
					self.answer = data.answer;
					self.questions = data.questions;
				}).catch(function (error) {
					self.answer = 'Error! Could not reach the API. ' + error
				});
			}
		}
	});
</script>

</html>